<% posts.forEach(function(post, index) { %>
  <% var hasFeature = post.feature && post.feature.trim() !== ''; %>
  <article class="search-card">
    <a href="<%= post.link %>" class="search-card-link">
      <% if (hasFeature) { %>
        <div class="search-card-header">
          <img src="<%= post.feature %>" alt="<%= post.title %>">
        </div>
      <% } %>
      <div class="search-card-body <%= hasFeature ? '' : 'no-image' %>">
        <h3 class="search-card-title"><%= post.title %></h3>
        <div class="search-card-meta">
          <time class="search-card-date"><%= post.dateFormat %></time>
          <% if (post.tags && post.tags.length > 0) { %>
            <span class="search-card-tags">
              <% post.tags.slice(0, 2).forEach(function(tag, idx) { %>
                <span class="search-tag"><%= tag.name %></span>
              <% }); %>
            </span>
          <% } %>
        </div>
      </div>
    </a>
  </article>
<% }); %>
